In [1]:
import sqlite3 as sq

In [ ]:
with sq.connect('tysql.sqlite') as con:
    cur = con.cursor()
    
    cur.execute("""
    """)

In [12]:
def result(sql_text):
    con = sq.connect('tysql.sqlite')
    cur = con.cursor()
    cur.execute(sql_text)
    
    for row in cur.fetchall():
        print(row)
    
    con.close()

In [2]:
def req_sql(sql_text, *args):
    con = sq.connect('tysql.sqlite')
    cur = con.cursor()
    result = cur.execute(sql_text,(*args)).fetchall()
    con.close()
    return result

def req_print(sql_text):
    r = req_sql(sql_text)
    for row in r:
        print(row)

In [31]:
# Список всіх таблиць:
script_1 = """
SELECT name FROM sqlite_master WHERE type='table'
"""
req_print(script_1)

('Customers',)
('OrderItems',)
('Orders',)
('Products',)
('Vendors',)

In [27]:
# Інформація про поля таблиць:
tables = req_sql('SELECT name FROM sqlite_master WHERE type="table"')
tables = [i[0] for i in tables]
for i in tables:
    print(i)
    sql_text = 'PRAGMA table_info (%s)' %i
    req_print(sql_text)
    print()

Customers
(0, 'cust_id', 'char(10)', 1, None, 1)
(1, 'cust_name', 'char(50)', 1, None, 0)
(2, 'cust_address', 'char(50)', 0, None, 0)
(3, 'cust_city', 'char(50)', 0, None, 0)
(4, 'cust_state', 'char(5)', 0, None, 0)
(5, 'cust_zip', 'char(10)', 0, None, 0)
(6, 'cust_country', 'char(50)', 0, None, 0)
(7, 'cust_contact', 'char(50)', 0, None, 0)
(8, 'cust_email', 'char(255)', 0, None, 0)

OrderItems
(0, 'order_num', 'int', 1, None, 1)
(1, 'order_item', 'int', 1, None, 2)
(2, 'prod_id', 'char(10)', 1, None, 0)
(3, 'quantity', 'int', 1, None, 0)
(4, 'item_price', 'decimal(8,2)', 1, None, 0)

Orders
(0, 'order_num', 'int', 1, None, 1)
(1, 'order_date', 'datetime', 1, None, 0)
(2, 'cust_id', 'char(10)', 1, None, 0)

Products
(0, 'prod_id', 'char(10)', 1, None, 1)
(1, 'vend_id', 'char(10)', 1, None, 0)
(2, 'prod_name', 'char(255)', 1, None, 0)
(3, 'prod_price', 'decimal(8,2)', 1, None, 0)
(4, 'prod_desc', 'text', 0, None, 0)

Vendors
(0, 'vend_id', 'char(10)', 1, None, 1)
(1, 'vend_name', 'char(50)', 1, None, 0)
(2, 'vend_address', 'char(50)', 0, None, 0)
(3, 'vend_city', 'char(50)', 0, None, 0)
(4, 'vend_state', 'char(5)', 0, None, 0)
(5, 'vend_zip', 'char(10)', 0, None, 0)
(6, 'vend_country', 'char(50)', 0, None, 0)

In [30]:
# Список всіх cust_id з таблиці Customers:
script_2 = """
SELECT cust_id 
FROM Customers
"""
req_print(script_2)

('1000000001',)
('1000000002',)
('1000000003',)
('1000000004',)
('1000000005',)

In [32]:
# Вся таблиця Customer Table:
script_3 = """
SELECT * 
FROM Customers
"""
req_print(script_3)

('1000000001', 'Village Toys', '200 Maple Lane', 'Detroit', 'MI', '44444', 'USA', 'John Smith', 'sales@villagetoys.com')
('1000000002', 'Kids Place', '333 South Lake Drive', 'Columbus', 'OH', '43333', 'USA', 'Michelle Green', None)
('1000000003', 'Fun4All', '1 Sunny Place', 'Muncie', 'IN', '42222', 'USA', 'Jim Jones', 'jjones@fun4all.com')
('1000000004', 'Fun4All', '829 Riverside Drive', 'Phoenix', 'AZ', '88888', 'USA', 'Denise L. Stephens', 'dstephens@fun4all.com')
('1000000005', 'The Toy Store', '4545 53rd Street', 'Chicago', 'IL', '54545', 'USA', 'Kim Howard', None)

In [38]:
# Список клієнтів (cust_name) відсортованих від Z до A:
script_4 = """
SELECT DISTINCT cust_name 
FROM Customers
ORDER BY 1 DESC
"""
req_print(script_4)

('Village Toys',)
('The Toy Store',)
('Kids Place',)
('Fun4All',)

In [44]:
# Таблиця клієнтів та замовлень (cust_id, order_num) відсортованих по клієнту та даті замовлення:
script_5 = """
SELECT cust_id, order_num
FROM Orders
ORDER BY cust_id, order_num
"""
req_print(script_5)

('1000000001', 20005)
('1000000001', 20009)
('1000000003', 20006)
('1000000004', 20007)
('1000000005', 20008)

In [23]:
# Таблиця на основі Items з кількістю та вартістю товару. Відсортуйте в порядку спадання по кількості та вартості
script_6 = """
SELECT quantity, item_price
FROM OrderItems
ORDER BY 1 DESC
"""
print('Відсортуйте в порядку спадання по кількості')
req_print(script_6)

script_7 = """
SELECT item_price, quantity
FROM OrderItems
ORDER BY 1 DESC
"""
print()
print('Відсортуйте в порядку спадання по вартості')
req_print(script_7)

Відсортуйте в порядку спадання по кількості
(250, 2.49)
(250, 2.49)
(250, 2.49)
(100, 5.49)
(100, 10.99)
(100, 2.99)
(100, 2.99)
(100, 2.99)
(50, 11.49)
(50, 4.49)
(20, 5.99)
(10, 8.99)
(10, 11.99)
(10, 3.49)
(10, 3.49)
(10, 3.49)
(5, 4.99)
(5, 11.99)

Відсортуйте в порядку спадання по вартості
(11.99, 10)
(11.99, 5)
(11.49, 50)
(10.99, 100)
(8.99, 10)
(5.99, 20)
(5.49, 100)
(4.99, 5)
(4.49, 50)
(3.49, 10)
(3.49, 10)
(3.49, 10)
(2.99, 100)
(2.99, 100)
(2.99, 100)
(2.49, 250)
(2.49, 250)
(2.49, 250)

In [61]:
# Товар з таблиці Products, ціна якого становить 9.49
script_8 = """
SELECT prod_name
FROM Products
WHERE prod_price = 9.49
"""
req_print(script_8)

('King doll',)
('Queen doll',)

In [64]:
# Назва товару, ціна якого в діапазоні від 3 до 6. Відсортуйте по ціні в порядку зростання
script_9 = """
SELECT prod_name, prod_price
FROM Products
WHERE prod_price > 3 AND prod_price < 6
ORDER BY prod_price 
"""
req_print(script_9)

('Fish bean bag toy', 3.49)
('Bird bean bag toy', 3.49)
('Rabbit bean bag toy', 3.49)
('Raggedy Ann', 4.99)
('8 inch teddy bear', 5.99)

In [108]:
# Кількість товару, що було продано
script_10 = """
SELECT prod_id, SUM(quantity)
FROM OrderItems
GROUP BY prod_id

UNION

SELECT 'Всього продано:', SUM(quantity)
FROM OrderItems
"""
req_print(script_10)

('BNBG01', 360)
('BNBG02', 360)
('BNBG03', 360)
('BR01', 120)
('BR02', 10)
('BR03', 165)
('RGAN01', 55)
('Всього продано:', 1430)

In [109]:
# Кількість найменувань товару, ціна якого > 4
script_11 = """
SELECT 'Кількість найменувань товару:', count(prod_id)
FROM Products
WHERE prod_price > 4

"""
req_print(script_11)

('Кількість найменувань товару:', 6)

In [5]:
# 3 найдорожчі товари в базі
script_12 = """
SELECT prod_name, prod_price
FROM Products 
ORDER BY 2 DESC
LIMIT 3
"""
req_print(script_12)

('18 inch teddy bear', 11.99)
('King doll', 9.49)
('Queen doll', 9.49)

In [11]:
# Кількість замовлень для кожного клієнта (використовуючи підзапити)
script_13 = """
SELECT cust_id AS Qty, SUM(1)
FROM (SELECT cust_id FROM Orders)
GROUP BY cust_id
"""
req_print(script_13)

('1000000001', 2)
('1000000003', 1)
('1000000004', 1)
('1000000005', 1)

In [13]:
# Список клієнтів та їх замовлень (використовуючи JOIN)
script_14 = """
SELECT cust_name, order_num
FROM Customers
JOIN Orders ON Orders.cust_id = Customers.cust_id
"""
req_print(script_14)

('Village Toys', 20005)
('Fun4All', 20006)
('Fun4All', 20007)
('The Toy Store', 20008)
('Village Toys', 20009)

In [17]:
# Список товарів, ціна яких < 5; список товарів, ціна яких >=5; використати UNION для об'єднання
script_15 = """
SELECT prod_name, prod_price
FROM Products
WHERE prod_price < 5

UNION

SELECT prod_name, prod_price
FROM Products
WHERE prod_price >= 5
"""
req_print(script_15)

('12 inch teddy bear', 8.99)
('18 inch teddy bear', 11.99)
('8 inch teddy bear', 5.99)
('Bird bean bag toy', 3.49)
('Fish bean bag toy', 3.49)
('King doll', 9.49)
('Queen doll', 9.49)
('Rabbit bean bag toy', 3.49)
('Raggedy Ann', 4.99)