### Task
Using information from file Groceries.csv:
1. define Support, Confidence and Lift of all pairs of products;
2. print out 3 most popular pairs of products
3. find 3 most popular products
4. write product pairs and corresponding Support, Confidence and Lift to Excel-file

In [2]:
# Create DataFrame from csv

import pandas as pd
import numpy as np

df = pd.read_csv('Groceries.csv')
df.head()

,citrus fruit,semi-finished bread,margarine,ready soups,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31
0,tropical fruit,yogurt,coffee,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,whole milk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,pip fruit,yogurt,cream cheese,meat spreads,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,other vegetables,whole milk,condensed milk,long life bakery product,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,whole milk,butter,yogurt,rice,abrasive cleaner,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# Inspect dataset 

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9834 entries, 0 to 9833
Data columns (total 32 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   citrus fruit         9834 non-null   object
 1   semi-finished bread  7675 non-null   object
 2   margarine            6032 non-null   object
 3   ready soups          4733 non-null   object
 4   Unnamed: 4           3729 non-null   object
 5   Unnamed: 5           2874 non-null   object
 6   Unnamed: 6           2229 non-null   object
 7   Unnamed: 7           1684 non-null   object
 8   Unnamed: 8           1246 non-null   object
 9   Unnamed: 9           896 non-null    object
 10  Unnamed: 10          650 non-null    object
 11  Unnamed: 11          468 non-null    object
 12  Unnamed: 12          351 non-null    object
 13  Unnamed: 13          273 non-null    object
 14  Unnamed: 14          196 non-null    object
 15  Unnamed: 15          141 non-null    object
 16  Unnamed: 16          95 non-null     object
 17  Unnamed: 17          66 non-null     object
 18  Unnamed: 18          52 non-null     object
 19  Unnamed: 19          38 non-null     object
 20  Unnamed: 20          29 non-null     object
 21  Unnamed: 21          18 non-null     object
 22  Unnamed: 22          14 non-null     object
 23  Unnamed: 23          8 non-null      object
 24  Unnamed: 24          7 non-null      object
 25  Unnamed: 25          7 non-null      object
 26  Unnamed: 26          6 non-null      object
 27  Unnamed: 27          5 non-null      object
 28  Unnamed: 28          4 non-null      object
 29  Unnamed: 29          1 non-null      object
 30  Unnamed: 30          1 non-null      object
 31  Unnamed: 31          1 non-null      object
dtypes: object(32)
memory usage: 2.4+ MB

In [4]:
# Create list with all records (do not include NaNs)

all_records = []
for i in range(df.shape[0]):
    all_records.append( [str(df.values[i, j]) for j in range(df.shape[1]) if pd.notna(df.values[i, j])])
all_records[0]

['tropical fruit', 'yogurt', 'coffee']

In [5]:
# Build association rules using apriori method:

from apyori import apriori
association_rules = apriori(all_records, min_support=0.0045, min_confidence=0.2, min_lift=3, min_length=2)
list_of_rules = list(association_rules)
list_of_rules[1]

RelationRecord(items=frozenset({'beef', 'root vegetables'}), support=0.017388651616839536, ordered_statistics=[OrderedStatistic(items_base=frozenset({'beef'}), items_add=frozenset({'root vegetables'}), confidence=0.3313953488372093, lift=3.0400577056577576)])

In [6]:
# Take 1 rule as example and inspect its structure:

rule = list_of_rules[1]
print('Element 0: "products" ->', rule[0], 'type:', type(rule[0]))
print('----------------------------------------------')
print('Element 1: support ->', rule[1], 'type:', type(rule[1]))
print('----------------------------------------------')
print('Element 2: list of statictics ->', rule[2], 'type:', type(rule[2]))
print('----------------------------------------------')
print('Element 2.0.0: base item of set  ->', rule[2][0][0], 'type:', type(rule[2][0][0]))
print('----------------------------------------------')
print('Element 2.0.1: othre item(s) of set  ->', rule[2][0][1], 'type:', type(rule[2][0][1]))
print('----------------------------------------------')
print('Element 2.0.2: confidence  ->', rule[2][0][2], 'type:', type(rule[2][0][2]))
print('----------------------------------------------')
print('Element 2.0.3: lift  ->', rule[2][0][3], 'type:', type(rule[2][0][3]))

Element 0: "products" -> frozenset({'beef', 'root vegetables'}) type: <class 'frozenset'>
----------------------------------------------
Element 1: support -> 0.017388651616839536 type: <class 'float'>
----------------------------------------------
Element 2: list of statictics -> [OrderedStatistic(items_base=frozenset({'beef'}), items_add=frozenset({'root vegetables'}), confidence=0.3313953488372093, lift=3.0400577056577576)] type: <class 'list'>
----------------------------------------------
Element 2.0.0: base item of set  -> frozenset({'beef'}) type: <class 'frozenset'>
----------------------------------------------
Element 2.0.1: othre item(s) of set  -> frozenset({'root vegetables'}) type: <class 'frozenset'>
----------------------------------------------
Element 2.0.2: confidence  -> 0.3313953488372093 type: <class 'float'>
----------------------------------------------
Element 2.0.3: lift  -> 3.0400577056577576 type: <class 'float'>

In [7]:
# Create a dataframe from rules in list_of_rules:

df_all_rules = pd.DataFrame({'products':[i[0] for i in list_of_rules], 
                             'support':[i[1] for i in list_of_rules],
                             'confidence':[i[2][0][2] for i in list_of_rules],
                            'lift':[i[2][0][3] for i in list_of_rules]})
df_all_rules.head()

                              products   support  confidence      lift
0  (whipped/sour cream, baking powder)  0.004576    0.258621  3.607483
1              (beef, root vegetables)  0.017389    0.331395  3.040058
2        (whipped/sour cream, berries)  0.009050    0.272171  3.796499
3               (bottled beer, liquor)  0.004678    0.422018  5.240061
4       (red/blush wine, bottled beer)  0.004881    0.253968  3.153439

In [8]:
# Output 3 most popular combinations of products -> have biggest support:

df_all_rules.sort_values('support', ascending = False, inplace = True)
df_all_rules.head(3)

,products,support,confidence,lift
1,"(beef, root vegetables)",0.017389,0.331395,3.040058
37,"(tropical fruit, root vegetables, other vegeta...",0.012304,0.342776,3.144460
20,"(citrus fruit, root vegetables, other vegetables)",0.010372,0.359155,3.294710

In [9]:
# Find 3 most popular PAIRS of products:

df_all_rules[df_all_rules['products'].str.len() == 2].sort_values('support', ascending = False).head(3)

                        products   support  confidence      lift
1        (beef, root vegetables)  0.017389    0.331395  3.040058
2  (whipped/sour cream, berries)  0.009050    0.272171  3.796499
6       (herbs, root vegetables)  0.007016    0.431250  3.956075

In [10]:
# Get 3 most popular items:

# 1. Make array that contains all words: 
all_words = []
for i in range(len(all_records)):
    all_words.extend([j for j in all_records[i]])

# 2. Count words:
values, counts = np.unique(all_words, return_counts=True)

# 3. Create dataframe with words and counts:
df_all_words = pd.DataFrame({'values':values, 'counts' :counts})

# 4. Print 3 most frequent words 
df_all_words.sort_values('counts', ascending = False).head(3)

               values  counts
166        whole milk    2513
103  other vegetables    1903
123        rolls/buns    1809

In [11]:
# Write resulting set to excel:

# 1. Cast type 'frozenset' to string and trim unnecessary characters 
df_all_rules['products'] = df_all_rules['products'].astype(str)
df_all_rules['products'] = df_all_rules['products'].str.lstrip('frozenset({)')
df_all_rules['products'] = df_all_rules['products'].str.rstrip('})')

# 2. Write to excel
df_all_rules.to_excel('Groceries_associations.xlsx')